.headerTag{
    padding-top: 9rem;
    color: #2F4A6A;
}


.button{
    color: #2F4A6A;
    fill: #2F4A6A;
    background-color: #ffffff;
    border-color: #ffffff ;
    border-radius: 0.5rem;
    width: 13rem;



}

