.container{

    text-align: left;
    padding-left: 6rem;
    padding-top: 6rem;
    height: 200px;
    color: #2F4A6A;
    font-size: 25px;
    ;
   

  }
 .container .signup{
  position: relative;
  bottom: 285%;
  right: 0%;
  background-color: rgb(241, 202, 93);
  padding: 9px 50px;
  border-radius: 17px;
  font-variant-caps: normal;
  font-size: 70%;
  font-weight: 100px;

 
}
.container p{
  padding-top: 7rem;
}
.container .image-logo{
  position: relative;
  left: 35%;
  bottom: 220%;
}
.howitworks{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 840%;

  margin-bottom: 4%;
}
.howitworks h1{
  font-size: 400%;
}
.howitworks .howitworksbutton{
  background-color: rgb(241, 202, 93);
  padding: 15px 75px;
  font-size: 110%;
  font-weight: 300px;

}
.images{
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 420%;
  right: 20%;
}
.images img{
  border-radius: 50%;
  transform: scale(0.2);
}
.images .image2{
  position: relative;
  right: 34%;
}
.images .image3{
  position: relative;
  right: 76%;
}

.imagedesc1{
  position: relative;
  bottom: 680%;
  text-align: center;
  right: 38%;
}
.imagedesc2{
  position: relative;
  bottom: 780%;
  text-align: center;
  right: 2%;
 
}
.imagedesc3{
  position: relative;
  bottom: 863%;
  text-align: center;
  left: 32%;
 
}
  .word {
    font-size:3em;
    font-weight:bold;
    opacity:0;
    position: absolute;
    width: 100%;
    text-align: left;
  }


  @keyframes w1anim {
    0%{
      opacity: 0;
    }
    10%{
      opacity: 1;
    }
    20% {
      opacity:0;
    }
  }
   
  @keyframes w2anim {
    20%{
      opacity: 0;
    }
    30%{
      opacity: 1;
    }
    40% {
      opacity:0;
    }
  }
   
  @keyframes w3anim {
    40%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    60% {
      opacity:0;
    }
  }
   
  @keyframes w4anim {
    60%{
      opacity: 0;
    }
    70%{
      opacity: 1;
    }
    80% {
      opacity:0;
    }
  }
   
  @keyframes w5anim {
    80%{
      opacity: 0;
    }
    90%{
      opacity: 1;
    }
    100% {
      opacity:0;
    }
  }


  .w1 {
    -webkit-animation: w1anim 20s infinite;
            animation: w1anim 20s infinite;
  }
   
  .w2 {
    -webkit-animation: w2anim 20s infinite;
            animation: w2anim 20s infinite;
  }
   
  .w3 {
    -webkit-animation: w3anim 20s infinite;
            animation: w3anim 20s infinite;
  }
   
  .w4 {
    -webkit-animation: w4anim 20s infinite;
            animation: w4anim 20s infinite;
  }
   
  .w5 {
    -webkit-animation: w5anim 20s infinite;
            animation: w5anim 20s infinite;
  }


