.container{

    text-align: left;
    padding-left: 6rem;
    padding-top: 6rem;
    height: 200px;
    color: #2F4A6A;
    font-size: 25px;
    ;
   

  }
 .container .hello{
  position: relative;
  bottom: 255%;
  left: 1%;
  background-color: rgb(241, 202, 93);
  padding: 15px 90px;
  font-size: 110%;
  font-weight: 300px;
}
.container p{
  padding-top: 7rem;
}
.container .image-logo{
  position: relative;
  left: 55%;
  bottom: 240%;
}
.hellos{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 200%;
  margin-bottom: 4%;
}
.hellos h1{
  font-size: 400%;
}
.hellos .hi{
  background-color: rgb(241, 202, 93);
  padding: 15px 75px;
  font-size: 110%;
  font-weight: 300px;

}
.images{
  display: flex;
  flex-direction: row;
  gap: 20%;
  position: relative;
  bottom: 200%;
  left: 25%;
}
.images .MuiAvatar-img{
  
}

  .word {
    font-size:3em;
    font-weight:bold;
    opacity:0;
    position: absolute;
    width: 100%;
    text-align: left;
  }


  @keyframes w1anim {
    0%{
      opacity: 0;
    }
    10%{
      opacity: 1;
    }
    20% {
      opacity:0;
    }
  }
   
  @keyframes w2anim {
    20%{
      opacity: 0;
    }
    30%{
      opacity: 1;
    }
    40% {
      opacity:0;
    }
  }
   
  @keyframes w3anim {
    40%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    60% {
      opacity:0;
    }
  }
   
  @keyframes w4anim {
    60%{
      opacity: 0;
    }
    70%{
      opacity: 1;
    }
    80% {
      opacity:0;
    }
  }
   
  @keyframes w5anim {
    80%{
      opacity: 0;
    }
    90%{
      opacity: 1;
    }
    100% {
      opacity:0;
    }
  }


  .w1 {
    -webkit-animation: w1anim 20s infinite;
            animation: w1anim 20s infinite;
  }
   
  .w2 {
    -webkit-animation: w2anim 20s infinite;
            animation: w2anim 20s infinite;
  }
   
  .w3 {
    -webkit-animation: w3anim 20s infinite;
            animation: w3anim 20s infinite;
  }
   
  .w4 {
    -webkit-animation: w4anim 20s infinite;
            animation: w4anim 20s infinite;
  }
   
  .w5 {
    -webkit-animation: w5anim 20s infinite;
            animation: w5anim 20s infinite;
  }


