h1{
    color:  #2F4A6A;
    font-size: 4.6rem;
}
p{
    color:  #2F4A6A;
}
.airtable-embed{
    position: relative;
    top: 50%;
    height:30rem;
    width: 50rem;
    background: transparent;
    border: 5px solid #ccc;
}