.hi{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.signUp{
    color: #2F4A6A;
    
}
.hi .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}
.form-container h1{
    font-size: 400%;
}
.form-container .textfil{
 margin-bottom: 8%;
}
.form-container #standard-basic{
    width: 30rem;
}
.form-container .name{
    margin-top: 5%;
}
.form-container a{
    color:#2F4A6A;
}

