.hi{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.hi .his{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}
.his h1{
    font-size: 400%;
}
.his .textfil{
 margin-bottom: 20%;
}
.his #standard-basic{
    width: 30rem;
}
.his .name{
    margin-top: 7%;
}
.his a{
    color: black;
}

